@import "variables.darkly-capibara";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "common-capibara";

div.comment-content + div * {
  color: $gray-300 !important;
}

.btn-light {
  --bs-btn-color: #{$gray-400};
}

:root {
  --comment-node-1-color: hsla(0, 30%, 30%, 0.8);
  --comment-node-2-color: hsla(50, 30%, 30%, 0.8);
  --comment-node-3-color: hsla(100, 30%, 30%, 0.8);
  --comment-node-4-color: hsla(150, 30%, 30%, 0.8);
  --comment-node-5-color: hsla(200, 30%, 30%, 0.8);
  --comment-node-6-color: hsla(250, 30%, 30%, 0.8);
  --comment-node-7-color: hsla(300, 30%, 30%, 0.8);
}
